.settings {
  padding: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  max-height: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: auto;
  text-align: center;
  /* background: linear-gradient(to top, #ffffff 24%, #adadad 100%); */
  border-radius: 5px;
}

input {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 20px;
}
